body {
  background: #f0f3f4;
  padding: 0;
  margin: 0;
  color: #58666e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em; }
  body h1, body h2, body h3, body h4, body h5 {
    font-weight: normal; }
  body h2 {
    color: #333333;
    font-size: 150%; }
  body h3 {
    color: #333333; }
  body a {
    color: #428bca;
    text-decoration: none; }
    body a:hover {
      color: #4ca0e8; }
  body #page-header {
    background: #e4eaec;
    color: white;
    padding: 20px; }
    body #page-header a {
      color: white; }
      body #page-header a:hover {
        color: #a2c8fd; }
    body #page-header h1 {
      padding: 0;
      margin: 0;
      color: #58666e;
      font-size: 220%;
      font-weight: lighter; }
    body #page-header #breadcrumb {
      color: #6f818a;
      font-weight: light;
      font-size: 80%; }
      body #page-header #breadcrumb a {
        color: #6f818a; }
  body #page {
    background: white;
    border: 1px solid #e7eef0;
    border-radius: 3px;
    margin: 0 15px 15px 15px;
    padding: 25px; }

/**
Messages
**/
div.messages {
  margin: 15px 20px;
  font-size: 82%; }
  div.messages li {
    line-height: 165%; }
  div.messages.error {
    background: #f2dede;
    color: #c05e5e;
    border-color: #ebcccc; }
    div.messages.error:hover {
      background: #ebcccc; }
    div.messages.error a {
      color: #f9f0f0;
      text-decoration: underline; }

/**
Admin Sections
**/
div.admin .left {
  margin-left: 5px;
  width: 48%; }

div.admin .right {
  margin-left: 5px; }

div.admin .compact-link a {
  font-size: 80%;
  color: #687c85; }

div.admin-panel {
  border: 1px solid #e7eef0;
  border-radius: 3px;
  background: #f0f3f4;
  margin-bottom: 5px;
  padding: 15px 10px 10px 15px; }
  div.admin-panel h3 {
    margin: 0;
    line-height: 25px;
    font-weight: bold; }
  div.admin-panel .body {
    padding: 0; }

.admin-list {
  padding: 0;
  margin: 5px 0; }
  .admin-list dt {
    line-height: 22px; }
  .admin-list dd {
    font-size: 80%;
    margin-left: 0;
    margin-bottom: 12px;
    color: #6b7c86; }

button, input[type="submit"], input[type="image"] {
  color: #333333 !important;
  background-color: #edf1f2;
  border-bottom-color: #d8e1e3;
  -webkit-box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
  box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 130%;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid #dee5e7;
  border-radius: 4px; }









/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: yellow;
  color: black; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  background-color: white;
  border: 1px solid #d8e1e3;
  color: #333333;
  margin-bottom: 5px;
  padding: 7px; }
  input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
    background: #edf1f2;
    outline: none;
    border-color: #9db4b8; }
  input[type="text"][disabled], input[type="password"][disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="email"][disabled], input[type="number"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="time"][disabled], input[type="url"][disabled], textarea[disabled] {
    background-color: #333333;
    color: #333333; }
  input[type="text"].error, input[type="password"].error, input[type="date"].error, input[type="datetime"].error, input[type="email"].error, input[type="number"].error, input[type="search"].error, input[type="tel"].error, input[type="time"].error, input[type="url"].error, textarea.error {
    border: 1px solid #f06a6a; }

select {
  background-color: white;
  border: 1px solid #d8e1e3;
  color: #666666;
  height: 2.2em;
  line-height: 2.2em;
  margin-bottom: 5px;
  padding: 6px; }
  select[multiple], select[size] {
    height: auto; }
  select[disabled] {
    background-color: #333333;
    color: #333333; }

input[type="file"] {
  height: 2.2em;
  line-height: 1.4em; }

.marker, .form-required {
  color: #f06a6a; }

button:hover, input[type="submit"]:hover, input[type="image"]:hover {
  background-color: #cfdadd; }

input[type="image"] {
  padding: 0.5em 1em; }




label {
  color: #333333;
  display: block;
  font-weight: bold;
  font-size: 14px;
  margin: 0.25em 0; }
  label.option {
    display: inline;
    font-weight: normal; }

fieldset {
  background: white;
  border: 1px solid #f0f0f0;
  margin: 0 0 1em;
  padding: 2.5em 0.625em 0.35em;
  position: relative; }
  fieldset.fieldset-no-legend {
    padding-top: 0.35em; }
  fieldset .fieldset-legend {
    background: #f2f2f2;
    border-bottom: 1px solid #e6e6e6;
    color: #58666e;
    display: block;
    font-weight: bold;
    padding: 5px 8px;
    position: absolute;
    text-shadow: 0 1px 0 white;
    top: 1px;
    right: 1px;
    left: 1px; }
    fieldset .fieldset-legend a {
      text-decoration: none; }
      fieldset .fieldset-legend a:hover {
        text-decoration: underline; }
  fieldset.collapsible .fieldset-legend a:before {
    content: '\25BE';
    display: inline-block;
    width: 15px; }
  fieldset.container-inline {
    padding-top: 3.5em; }
  fieldset.container-inline.fieldset-no-legend {
    padding-top: 0.35em; }
  fieldset .exposed-filters {
    padding-top: 1em; }
  html.js fieldset.collapsed {
    border-width: 1px;
    height: 26px;
    padding-top: 0; }
    html.js fieldset.collapsed .fieldset-legend {
      border-bottom: none; }
      html.js fieldset.collapsed .fieldset-legend a:before {
        content: '\25B8';
        color: #414c52; }

.fieldset-legend span.summary {
  color: #414c52;
  font-size: 0.9em;
  margin-left: 0.5em; }

.fieldset-description {
  margin: 1em 0; }

.form-item, .form-actions {
  margin-top: 1em;
  margin-bottom: 1em; }

tr.odd .form-item, tr.even .form-item {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap; }

.form-checkboxes .form-item, .form-radios .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em; }

.form-type-radio .description, .form-type-checkbox .description {
  margin-left: 1.4em; }

input.form-checkbox, input.form-radio {
  vertical-align: middle; }

.container-inline .form-actions, .container-inline.form-actions {
  margin-top: 0;
  margin-bottom: 0; }

div.vertical-tabs {
  border-color: #d8e1e3; }
  div.vertical-tabs ul.vertical-tabs-list {
    border-color: #d8e1e3;
    border-left: 1px solid #d8e1e3; }
    div.vertical-tabs ul.vertical-tabs-list li {
      background: white;
      border-color: #d8e1e3;
      border-left: none;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6); }
      div.vertical-tabs ul.vertical-tabs-list li strong {
        color: #414c52; }
      div.vertical-tabs ul.vertical-tabs-list li.selected a strong {
        color: #414c52; }
    div.vertical-tabs ul.vertical-tabs-list a .summary {
      color: #58666e; }

.fieldsets-group {
  background: white;
  border: 1px solid #d8e1e3;
  margin: 1em 0; }
  .fieldsets-group fieldset {
    margin: 0;
    padding: 0;
    border: none; }
    .fieldsets-group fieldset legend {
      width: 100%; }
    .fieldsets-group fieldset .fieldset-legend {
      border: none;
      border-bottom: 1px solid #d8e1e3;
      position: relative;
      display: block;
      padding: 8px;
      left: 0;
      right: 0; }
      .fieldsets-group fieldset .fieldset-legend a {
        color: #2b3235; }
    .fieldsets-group fieldset .fieldset-wrapper {
      background: white;
      border-bottom: 1px solid #d8e1e3;
      padding: 1px 23px; }
    html.js .fieldsets-group fieldset.collapsed {
      border-width: 0;
      height: auto; }
      html.js .fieldsets-group fieldset.collapsed .fieldset-legend {
        border-bottom: 1px solid #d8e1e3; }
        html.js .fieldsets-group fieldset.collapsed .fieldset-legend a {
          color: #414c52; }
    .fieldsets-group fieldset .form-text {
      width: 100%; }

html.js input.form-autocomplete {
  background-position: 99.5% 9px; }

html.js input.throbbing {
  background-position: 99.5% -13px; }

#autocomplete {
  background: #edf1f2;
  border-color: #abbfc3;
  border-top: 0;
  margin-top: -4px; }
  #autocomplete li {
    background: transparent;
    padding: 0.25em 0.5em; }
    #autocomplete li.selected {
      background: #58666e;
      color: white; }

ul.primary {
  margin: 0 15px 0 15px;
  border: none;
  padding: 0; }
  ul.primary li {
    display: inline-block;
    padding: 8px 0; }
    ul.primary li a {
      border-radius: 3px 3px 0 0;
      border-color: transparent;
      border-bottom: none;
      padding: 9px 23px;
      background: none;
      margin-right: 0; }
      ul.primary li a.active {
        border-color: #e7eef0;
        border-bottom: none;
        padding: 9px 23px; }

.views-admin .views-displays {
  background: #f0f3f4; }

table {
  width: 100%;
  font-size: 85%; }
  table tr th {
    padding: 0.5em; }
  table tr td {
    padding: 0.5em;
    border-bottom: 1px solid #efefef; }
    table tr td.description {
      font-size: 90%;
      width: 60%; }
      table tr td.description .admin-requirements {
        line-height: 1.4; }
  table tr.even {
    background: none; }
  table tr.odd {
    background: #fafafa; }
