table {
  width: 100%;
  font-size: 92%;

  tbody {
    border-top: none;
  }

  tr {

    th {
      padding: 0.8em;
      color: darken($link-color, 50%);
      border: none;

    }

    td {
      padding: 0.8em;
      border-bottom: 1px solid #efefef;

      &.description {
        font-size: 90%;
        width: 60%;

        .admin-requirements {
          line-height: 1.4;
        }
      }

    }




    &.even {
      background: none;
    }

    &.odd {
      background: #FAFAFA;
    }

  }



}